/* [class^="container"] * {
  border: red dashed 1px;
} */

#contact-me .col-8 {
  height: 500px;
}

#portfolio .col-12,
#about .col-12,
#contact-me .col-12,
#footer-bottom .col-12 {
  min-height: 100px;
}

#about .col-8,
#about .col-md-4 {
  height: 400px;
}

#footer-top .col-12,
#footer-top .col-md-4 {
  height: 200px;
}

/* GENERICS */
img {
  max-width: 100%;
}

.bg-cs-primary {
  background-color: #2c3e50;
}

section {
  margin-bottom: 50px;
}

/* HEADER */
header,
.navbar-dark {
  min-height: 100px;
}

header .row:first-child {
  min-height: 100px;
}

/* START BOOTSTRAP */
#start-bootstrap {
  background-color: #1abc9c;
}

#start-bootstrap img {
  max-width: 350px;
}
